<div class="ui container boards">
  <%= render partial: "layouts/boardMenu" %>

  <div class="ui items">
  <% @menus.all.each do |m| %>
    <div class="item">
      <div class="ui small image">
        <% if m.food_picture.url %>
        <img src="m.food_picture.url" width="250">
        <% else %>
        <img src="//maxcdn.icons8.com/Share/icon/Food//vegetarian_food1600.png" width="250">
        <% end %>
      </div>
      <div class="middle aligned content">
        <div class="header"><%= m.foodglossary_id %></div>
        <div class="description">
          <p><%= m.taste_id %></p>
          <p><%= m.foodstuff_id_2 %></p>
          <p><%= m.foodstuff_id %></p>
          <p><%= m.cookingmethod_id %></p>
        </div>
        <div class="extra">
          <b><%= m.quick_menu %></b>
          <% unless m.quick_menu %>
          <div class="ui right floated button">
            퀵 메뉴판으로 설정
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
