<div class="ui grid menuForm">
  <% if notice %>
  <div class="ui positive message">
    <i class="close icon"></i>
    <div class="header"><%= notice %></div>
  </div>
  <% end %>
  <div class="ui attached menu message">
    <i class="home icon"></i>
    <% if controller.action_name == 'index' %>
    <div class="header">메뉴를 등록합니다</div>
    <% elsif controller.action_name == 'edit' %>
    <div class="header">메뉴를 수정합니다</div>
    <% end %>
  </div>
  <%= form_for(@menu, html:{multipart: true, class: "ui form attached fluid segment"}) do |f| %>

    <div class="fields">
      <div class="five wide field">
        <%= f.label :매장  %>
        <select class="ui fluid dropdown" name="menu[store_id]">
          <% if @menu.store_id %>
          <option value="<%= @menu.store_id %>"><%=  Store.find(@menu.store_id).name %></option>
          <% else %>
          <option value="">매장선택</option>
            <% @stores.reverse.each do |s| %>
            <option value="<%=s.id%>"><%=s.name%></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="four wide field">
        <%= f.label :메뉴명  %>
        <div class="ui foodglossary search">
          <div class="ui icon input">
            <%= f.hidden_field :foodglossary_id %>
            <%= f.text_field :foodglossary_id, class: "prompt", placeholder: "메뉴명을 검색하세요!"%>
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="three wide field">
        <%= f.label :가격  %>
        <div class="ui right labeled input">
          <%= f.text_field :price, placeholder: "국내 단위로 숫자만 입력해주세요" %>
          <div class="ui basic label">원</div>
        </div>
      </div>
    </div>

    <h3>설명</h3>
    <hr>
    <div class="fields">
      <div class="four wide field">
        <%= f.label :맛  %>
        <div class="ui taste search">
          <div class="ui icon input">
            <%= f.hidden_field :taste_id %>
            <%= f.text_field :taste_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results taste"></div>
        </div>
      </div>
      <div class="four wide field">
        <%= f.label :주재료1  %>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <%= f.hidden_field :foodstuff_id %>
            <%= f.text_field :foodstuff_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_1"></div>
        </div>
      </div>
      <div class="four wide field">
        <%= f.label :주재료2  %>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <%= f.hidden_field :foodstuff_id_2 %>
            <%= f.text_field :foodstuff_id_2, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_2"></div>
        </div>
      </div>
      <div class="four wide field">
        <%= f.label :조리법  %>
        <div class="ui cookingmethod search">
          <div class="ui icon input">
            <%= f.hidden_field :cookingmethod_id %>
            <%= f.text_field :cookingmethod_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results cookingmethod"></div>
        </div>
      </div>
    </div>
		<!--TODO picture로 바꾸고 s3업로드 테스트 -->
    <div class="seven wide field">
      <%= f.label :메뉴_사진  %>
      <% if @menu.picture? %>
      <img src="<%=@menu.picture%>" width="300">
      <% end %>
      <%= f.file_field :picture %>
      <%= f.hidden_field :picture_cache %>
    </div>

    <%= f.submit :등록하기, class: "ui primary big button" %>


  <% end %>
</div>
