<%= javascript_include_tag params[:controller] %>
<%= hidden_field_tag "action_name", "#{controller.action_name}" %>

<div class="ui container owners-menu">

  <% if alert %>
  <div class="ui positive message">
    <div class="header"><%= alert %></div>
  </div>
  <% end %>
  <div class="ui attached message">
    <div class="header">메뉴를 등록합니다</div>
    <p id="notice"><%= notice %></p>
  </div>


<%= form_for(@menu, class: "ui form attached fluid segment", html: { multipart: true }) do |f| %>
    <div class="fields">

      <div class="four wide field">
        <%= f.label :매장사진  %>
        <p>
          <%= image_tag(@menu.food_picture_url) if @menu.food_picture? %>
          <%= f.file_field :food_picture %>
        </p>
      </div>

      <div class="twelve wide field">
        <%= f.label :매장  %>
        <select class="ui fluid dropdown" name="menu[store_id]">
          <option value="">매장선택</option>
          <% @stores.reverse.each do |s| %>
          <option value="<%=s.id%>"><%=s.name%></option>
          <% end %>
        </select>
      </div>

      <div class="twelve wide field">
        <%= f.label :메뉴명  %>
        <div class="ui foodglossary search">
          <div class="ui icon input">
            <%= f.hidden_field :foodglossary_id %>
            <%= f.text_field :foodglossary_id, class: "prompt", placeholder: "메뉴명을 검색하세요!"%>
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="five wide field">
        <div class="ui right labeled input">
          <%= f.text_field :price, placeholder: "국내 단위로 숫자만 입력해주세요" %>
          <div class="ui basic label">원</div>
        </div>
      </div>
    </div>

    <h3>설명</h3>
    <div class="fields">
      <div class="three wide field">
        <%= f.label :맛  %>
        <div class="ui taste search">
          <div class="ui icon input">
            <%= f.hidden_field :taste_id %>
            <%= f.text_field :taste_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results taste"></div>
        </div>
      </div>
      <div class="three wide field">
        <%= f.label :주재료1  %>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <%= f.hidden_field :foodstuff_id %>
            <%= f.text_field :foodstuff_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_1"></div>
        </div>
      </div>
      <div class="three wide field">
        <%= f.label :주재료2  %>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <%= f.hidden_field :foodstuff_id_2 %>
            <%= f.text_field :foodstuff_id_2, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_2"></div>
        </div>
      </div>
      <div class="three wide field">
        <%= f.label :조리법  %>
        <div class="ui cookingmethod search">
          <div class="ui icon input">
            <%= f.hidden_field :cookingmethod_id %>
            <%= f.text_field :cookingmethod_id, class: "prompt", placeholder: "..."%>
            <i class="search icon"></i>
          </div>
          <div class="results cookingmethod"></div>
        </div>
      </div>
    </div>
    <%= f.submit :등록하기, class: "ui primary button" %>

  <% end %>

  <div class="ui tiny menu">
    <div class="item">메뉴 목록</div>
    <div class="item"><%=@store.name%></div>
    <div class="menu">
      <div class="ui pointing dropdown item">
        매장 선택 <i class="dropdown icon"></i>
        <div class="menu">
          <% @stores.reverse.each do |s| %>
          <%= link_to s.name, menus_path(current_store: s.id), class: "item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui three column grid">
    <% @menus.each do |m| %>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <% if m.food_picture_url %>
          <img src="<%=m.food_picture.url%>">
          <% else %>
          <img src="http://semantic-ui.com/images/avatar/large/daniel.jpg">
          <% end %>
        </div>
        <div class="content">
          <span class="header"><%= Foodglossary.find(m.foodglossary_id).kor %></span>
          <div class="description">
            <p><%= Foodstuff.find(m.foodstuff_id).kor %></p>
            <p><%= Foodstuff.find(m.foodstuff_id_2).kor %></p>
            <p><%= Taste.find(m.taste_id).kor %></p>
            <p><%= Cookingmethod.find(m.cookingmethod_id).kor %></p>
          </div>
          <div class="meta">
            <span><%= m.price %>원</span>
          </div>
        </div>
        <div class="extra content">
          <% if m.quick_menu == true %>
          <i class="orange star icon"></i>
          추천 메뉴
          <% else %>
          <i class="orange empty star icon"></i>
          일반 메뉴
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
