<%= javascript_include_tag params[:controller] %>
<%= hidden_field_tag "action_name", "#{controller.action_name}" %>

<div class="ui container owners-menu">

  <div class="ui attached message">
    <div class="header">메뉴를 등록합니다</div>
    <p id="notice"><%= notice %></p>
  </div>

  <%= form_tag(menus_path, class: "ui form attached fluid segment") do %>
    <div class="fields">

      <div class="four wide field">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button">이미지 선택하기</div>
              </div>
            </div>
          </div>
          <img class="ui fluid image" src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
      </div>

      <div class="twelve wide field">
        <label>매장</label>
        <select class="ui fluid dropdown" name="menu[store_id]">
          <option value="">매장선택</option>
          <% @stores.reverse.each do |s| %>
          <option value="<%=s.id%>"><%=s.name%></option>
          <% end %>
        </select>
      </div>

      <div class="twelve wide field">
        <label>메뉴명</label>
        <div class="ui foodglossary search">
          <div class="ui icon input">
            <input type="hidden" name="menu[foodglossary_id]" id="foodglossary_id">
            <input class="prompt" type="text" placeholder="메뉴명을 검색하세요!">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>

    <div class="fields">
      <div class="five wide field">
        <div class="ui right labeled input">
          <input type="text" name="menu[price]" placeholder="국내 단위로 숫자만 입력해주세요">
          <div class="ui basic label">원</div>
        </div>
      </div>
    </div>

    <h3>설명</h3>
    <div class="fields">
      <div class="three wide field">
        <label>맛</label>
        <div class="ui taste search">
          <div class="ui icon input">
            <input class="prompt" name="menu[taste_id]" type="text" placeholder="...">
            <i class="search icon"></i>
          </div>
          <div class="results taste"></div>
        </div>
      </div>
      <div class="three wide field">
        <label>주재료1</label>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <input class="prompt" name="menu[foodstuff_id]" type="text" placeholder="...">
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_1"></div>
        </div>
      </div>
      <div class="three wide field">
        <label>주재료2</label>
        <div class="ui foodstuff search">
          <div class="ui icon input">
            <input class="prompt" name="menu[foodstuff_id_2]" type="text" placeholder="...">
            <i class="search icon"></i>
          </div>
          <div class="results foodstuff_2"></div>
        </div>
      </div>
      <div class="three wide field">
        <label>조리법</label>
        <div class="ui cookingmethod search">
          <div class="ui icon input">
            <input class="prompt" name="menu[cookingmethod_id]" type="text" placeholder="...">
            <i class="search icon"></i>
          </div>
          <div class="results cookingmethod"></div>
        </div>
      </div>
    </div>

    <button type="submit" class="ui primary button">등록하기</button>

  <% end %>

  <div class="ui three column grid">
    <% @menus.each do |m| %>
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src="http://semantic-ui.com/images/avatar/large/daniel.jpg">
        </div>
        <div class="content">
          <span class="header"><%= m.id %></span>
          <div class="description">
            <p><%= m.foodglossary_id %></p>
            <p><%= m.foodstuff_id %></p>
            <p><%= m.foodstuff_id_2 %></p>
            <p><%= m.cookingmethod_id %></p>
          </div>
          <div class="meta">
            <span><%= m.price %></span>
          </div>
        </div>
        <div class="extra content">
          <% if m.checked_menu == true %>
          <i class="orange star icon"></i>
          추천 메뉴
          <% else %>
          <i class="orange empty star icon"></i>
          일반 메뉴
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
