<%= javascript_include_tag params[:controller] %>
<%= hidden_field_tag "action_name", "#{controller.action_name}" %>

<div class="ui container ownersmenu">
  <%= render partial: '/menus/form' %>
  <br>
  <!-- <%= render partial: '/layouts/subMenu' %>
  <%= render partial: '/layouts/menuList' %> -->
</div>
