<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @menu.picture %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Store ID:</strong>
  <%= @menu.store_id %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
