<%#
  step
  completed step
  active step
  disabled step
%>

<div class="ui grid owner-register-form">
  <div class="four wide column" id="status">
    <div class="ui vertical steps">
      <div class="active step">
        <div class="content">
          <div class="title">1단계</div>
          <div class="description">오너 계정을 설정합니다.</div>
        </div>
      </div>
      <div class="disabled step">
        <div class="content">
          <div class="title">2단계</div>
          <div class="description">하나의 매장을 등록합니다.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="eight wide column owner-account">
    <div class="ui attached message">
      <div class="header">
        오너님 환영합니다!
      </div>
      <p>매장 등록은 "매장 현황"에서 해주세요</p>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "ui form attached fluid segment"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="required field">
        <%= f.label :이름 %>
        <div class="ui left icon input">
        <%= f.text_field :name, autofocus: true, placeholder: "이름을 입력해주세요" %>
          <i class="user icon"></i>
        </div>
      </div>

      <div class="required field">
        <%= f.label :이메일 %>
        <div class="ui left icon input">
        <%= f.email_field :email, autofocus: true, placeholder: "이메일을 입력해주세요" %>
          <i class="mail icon"></i>
        </div>
      </div>

      <div class="required field">
        <%= f.label :비밀번호 %>
        <div class="ui left icon input">
        <%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호를 입력해주세요" %>
          <i class="lock icon"></i>
        </div>
      </div>

      <div class="required field">
        <div class="ui left icon input">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "비밀번호를 한 번 더 입력해주세요" %>
          <i class="lock icon"></i>
        </div>
      </div>

      <div class="required field">
        <%= f.label :연락처 %>
        <div class="ui left icon input">
        <%= f.text_field :contact_number, maxlength: "11", autofocus: true, placeholder: "개인 전화번호를 '-'를 생락하여 입력해주세요" %>
          <i class="text telephone icon"></i>
        </div>
      </div>

      <%= f.submit :계정생성, class: "huge ui fluid primary button" %>

    <% end %>
  </div>
</div>
