<div class="ui fluid home container">
  <div id="intro">
    <div class="ui image">
      <%= image_tag "1.jpg", class: "ui fluid image" %>
      <span>
        외국인에게 메뉴를 퀵뷰로 제공하세요!<br>
        <button class="huge ui circular icon inverted button" id="go-down">
          <i class="angle double down icon"></i>
        </button>
      </span>
    </div>
  </div>

  <div id="about">
    <div class="ui image">
      <%= image_tag "3.jpg", class: "ui fluid image" %>
      <span>
        Hello, Stranger!
        우리의 서비스는 이러이러합니다.
      </span>
    </div>
  </div>

  <div id="menus">
    <div class="ui image">
      <%= image_tag "4.jpg", class: "ui fluid image" %>
      <span>메뉴판 등록하기</span>
    </div>
  </div>

  <div id="for-owner">
    <div class="ui image">
      <%= image_tag "2.jpg", class: "ui fluid image" %>
      <span>오너를 위한 기능</span>
    </div>
  </div>

</div>
<%= javascript_include_tag 'home' %>
