<div class="ui top fixed  menu">
  <div class="header item" id="brand">
    <%= link_to "Hello, stranger!", root_path %>
  </div>
  <div class="right menu">
    <a class="item" href="#about">어바웃</a>
    <%= link_to "메뉴판 등록하기", menus_path , class: "ui item" %>
    <% if owner_signed_in? %>
    <%= link_to "매장현황", root_path , class: "ui item" %>
    <%= link_to "로그아웃", destroy_owner_session_path, method: 'delete', class: "ui item" %>
    <% else %>
    <%= link_to "로그인",  new_owner_session_path, class: "ui item" %>
    <%= link_to "회원가입", new_owner_registration_path, class: "ui item" %>
    <% end %>
  </div>
</div>
