<header class="ui top fixed  menu">
  <%= link_to "Hello, stranger!", root_path, class: "header item", id: "brand" %>
  <div class="right menu">
    <a class="item" href="/#about">어바웃</a>
    <% if owner_signed_in? %>
    <%= link_to "메뉴판 등록하기", menus_path , class: "ui item" %>
    <%= link_to "매장현황", board_path , class: "ui item" %>
    <div class="ui pointing dropdown link item">
      <span id="owner-name"><%= current_owner.name %></span>님
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to(mypage_path, class: "item") do %>
          <i class="home icon"></i>마이페이지
        <% end %>
        <%= link_to(menus_path, class: "item") do %>
          <i class="edit icon"></i>메뉴판 등록하기
        <% end %>
        <%= link_to(board_path, class: "item") do %>
          <i class="inbox icon"></i>매장현황
        <% end %>
        <div class="divider"></div>
        <%= link_to(destroy_owner_session_path, method: :delete, class: "item") do %>
          <i class="sign out icon"></i>로그아웃
        <% end %>
      </div>
    </div>
    <% else %>
    <a class="ui item" id="menu-pan">메뉴판 등록하기</a>
    <a class="ui item" id="sign_in">로그인</a>
    <%= link_to "회원가입", new_owner_registration_path, class: "ui item" %>
    <% end %>
  </div>
</header>
