<header class="ui top fixed  menu">
  <div class="header item" id="brand">
    <%= link_to "Hello, stranger!", root_path %>
  </div>
  <div class="right menu">
    <a class="item" href="/#about">어바웃</a>
    <% if owner_signed_in? %>
    <%= link_to "메뉴판 등록하기", menus_path , class: "ui item" %>
    <%= link_to "매장현황", root_path , class: "ui item" %>
    <div class="ui pointing dropdown link item">
      <span id="owner-name"><%= current_owner.name %></span>님
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">오너님 안녕하세요</div>
        <div class="item">
          <%= link_to "마이페이지", mypage_path, style: 'color:black', method: 'get' %>
        </div>
        <div class="divider"></div>
        <div class="item">
         <%= link_to "로그아웃", destroy_owner_session_path, style: 'color:black', method: 'delete' %>
        </div>
      </div>
    </div>
    <% else %>
    <a class="ui item" id="menu-pan">메뉴판 등록하기</a>
    <a class="ui item" id="sign_in">로그인</a>
    <%= link_to "회원가입", new_owner_registration_path, class: "ui item" %>
    <% end %>
  </div>
</header>
