<!DOCTYPE html>
<html>
<head>
  <title>HelloStranger</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'logo' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <%= csrf_meta_tags %>
</head>

  <body>

    <input type="hidden" name="<%=params[:controller]%>" value="<%=params[:controller]%>">
    <%= render partial: "layouts/header" %>
    <%= render partial: "/owners/sessions/new" %>

    <%= yield %>
  </body>
</html>
